/* defold css  */
body{
          margin: 0;
          padding: 0;
          box-sizing: border-box;

}
.input{
          width: 230px;
          margin: 20px 0px;
          
}
.heading{
         padding-right: 0px;
}